body {
    padding: 5px; /**   **/
    background-color: white;
    font-family: 'Arial';
}



.nav {
height: 70px;
width: 100%;
margin: 5px;
background-color: white;
    display: -webkit-flex;
    display: flex;
    /*-webkit-flex-direction: row;
    flex-direction: row;*/

}


 
 
 

.nav_image {
    background-color: transparent;
    width: 50px;
    margin: 5px;
}

.nav_click {
    background-color: white;
    /*width: auto;
    height: auto;*/
    margin: 10px;
}

.nav_text, .nav_empty {
    background-color: transparent;
    width: auto;
    height: auto;
    font-size: 12px;
    margin: 10px;
}

/*******************************************************************************************/


h1 {
   text-align: left;
    font-size: 20px;
    padding: 0;
    margin: 10px 0 10px 0;
    color: black;
}

h2 {
    text-align: left;
    font-size: 18px;
    padding: 0;
    margin: 8px 0 8px 0;
    color: black;
}
h3 {
   text-align: left;
    font-size: 16px;
    padding: 0;
    margin: 6px 0 6px 0;
    color: black;
}

h4 {
    text-align: left;
    font-size: 14px;
    padding: 0;
    margin: 4px 0 4px 0;
    color: black;
}

h5 {
    text-align: left;
    font-size: 12px;
    padding: 0;
    margin: 2px 0 2px 0;
    color: black;
}

h6 {
    text-align: left;
    font-size: 10px;
    padding: 0;
    margin: 2px 0 2px 0;
    color: black;
}


p {
    text-align: left;
    font-size: 10px;
    padding: 0;
    margin: 2px 0 2px 0;
    color: black;
}
/**
* Large Button Component
* http://components.onsenui.io/
*/
.button--large {
    text-decoration: none;
    font-weight: bold;
  margin: 5px 0 5x 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  color: black;
  font-family: 'Arial';
  width: 100%;
  /**height: 100%; **/
  
  
  background-color:    transparent;
        border-width:        4px;
        border-style:        solid;
        border-color:        blue;
    /**border-right-color:  black;
    border-bottom-color: black;**/
    
}

.button--medium {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  color: black;
  font-family: 'Arial';
  width: 100%;
  
  
  background-color:    transparent;
        border-width:        6px;
        border-style:        solid;
        border-color:        blue;
  
    
}

.button--small {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  color: black;
  font-family: 'Arial';
  width: 100%;
  
  
  background-color:    transparent;
        border-width:        6px;
        border-style:        solid;
        border-color:        blue;
