body {
    padding: 5px; /**   **/
    background-color: black;
    font-family: 'Arial';
}

h1 {
   text-align: left;
    font-size: 20px;
    padding: 0;
    margin: 10px 0 10px 0;
    color: white;
}

h2 {
    text-align: left;
    font-size: 18px;
    padding: 0;
    margin: 8px 0 8px 0;
    color: white;
}
h3 {
   text-align: left;
    font-size: 16px;
    padding: 0;
    margin: 6px 0 6px 0;
    color: white;
}

h4 {
    text-align: left;
    font-size: 14px;
    padding: 0;
    margin: 4px 0 4px 0;
    color: white;
}

h5 {
    text-align: left;
    font-size: 12px;
    padding: 0;
    margin: 2px 0 2px 0;
    color: white;
}

h6 {
    text-align: left;
    font-size: 10px;
    padding: 0;
    margin: 2px 0 2px 0;
    color: white;
}


p {
    text-align: left;
    font-size: 10px;
    padding: 0;
    margin: 2px 0 2px 0;
    color: white;
}
/**
 * Large Button Component
 * http://components.onsenui.io/
 */
.button--large {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  color: white;
  font-family: 'Arial';
  width: 100%;
  
  
  background-color:    transparent;
        border-width:        4px;
        border-style:        solid;
        border-color:        blue;
    /**border-right-color:  black;
	border-bottom-color: black;**/
  
    
}


.Table--Anzeigen {
    
    
}





/**
.button--large:active {
  background-color: #1284ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
**/